/* CSS declarations go here */

body {
	background: #fff url("/img/pizza.jpg") repeat-x;
}
.navbar-inverse {
	background-color: #d9edf7;
	border-color: #d9edf7;
	border-radius: 0px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #337ab7;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFC107;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #337ab7;
    border-radius: 4px;
}

.panel > div {padding: 10px 30px}
.panel {margin:0}

.panel-footer {
	background-color: #d9edf7;
	text-align: center;
}

.head-title {
	text-align: center;
	margin-bottom: 15px;
}

.heading {
	font-size: 25px;
	margin-right: 15px;
}

.add-group {margin-top: -8px}

.form-group {margin-bottom: 0px}

.menu-item > .form-group {margin-bottom: 10px}

.add-menu-item, .add-participants {
	margin-top: -5px;
	margin-bottom: 5px
}

.delete, .edit {
	display: inline-block;
	margin-top: 10px;
}

.delete:hover, .del-group:hover, .edit:hover {
	color: #337ab7;
	cursor: pointer;
}

.menu-item input[type=checkbox] {margin-top: 10px}

.right-align {text-align: right}

.center-align {text-align: center}

.btn-named {width: 70px}

button.cancel-change-logo {margin-top: 20px}

div.cancel-change-logo {padding-left: 0}

input[name=name].input-lg, .change-name, img#logo, .change-logo, .order-event, div.col-md-3.alert.alert-success {margin-top: 5px}

div.col-md-3.alert.alert-success {
	padding: 5px;
	min-height: 46px;
}
.alert {
	text-align: center;
	margin-bottom: 0px;
}

div.panel-heading > form > div {padding-right:0}

div.order-event.col-md-1 {padding-right: 15px}

img {height: 50px}

div.participants-label {margin-bottom: 20px}

thead {color: #aaa}

td#groupForm {
	padding: 0;
	padding-bottom: 5px;
}

div.participants-list {
	/*line-height: 10px;*/
	margin-bottom: 8px;
}

div.participant {display: inline-block}

select {margin-bottom: 8px}

.red-label {color: red;}

